<!DOCTYPE html>
<html>
<head>
  <title>Rforum</title>
  <%= stylesheet_link_tag    "rforum/application", :media => "all" %>
  <%= javascript_include_tag "rforum/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
